<div class="flex flex-wrap justify-center gap-8 ">
  <div pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
      leaveClass="animate-leave fade-out-0"
      class="flex flex-col border border-surface shadow-lg bg-gradient-to-r from-slate-50 to-slate-200 justify-center items-center max-w-80 rounded-2xl p-8 gap-4"
  >
      <div class="rounded-full bg-primary w-12 h-12 flex items-center justify-center bg-gradient-to-r textSand">
          <i class="pi pi-user !text-2xl"></i>
      </div>
      <span class="text-xl font-black bg-gradient-to-r textSand">Individual</span>
      <span class="text-sm text-muted-color text-center font-extralight">Book and manage your medical appointments easily.</span>
  </div>
  <div
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 animate-duration-1000"
      leaveClass="animate-leave fade-out-0"
      class="flex flex-col border border-surface shadow-lg bg-gradient-to-r from-slate-50 to-slate-200 justify-center items-center max-w-80 rounded-2xl p-8 gap-4"
  >
      <div class="rounded-full bg-primary w-12 h-12 flex items-center justify-center bg-gradient-to-r textSand">
          <i class="pi pi-users !text-2xl"></i>
      </div>
      <span class="text-xl font-black bg-gradient-to-r textSand">Team</span>
      <span class="text-sm text-muted-color text-center font-extralight">Coordinate schedules and patient bookings seamlessly.</span>
  </div>
  <div
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
      leaveClass="animate-leave fade-out-0"
      class="flex flex-col border border-surface shadow-lg bg-gradient-to-r from-slate-50 to-slate-200 justify-center items-center max-w-80 rounded-2xl p-8 gap-4"
  >
      <div class="rounded-full bg-primary  w-12 h-12 flex bg-gradient-to-r textSand items-center justify-center">
          <span class="pi pi-building !text-2xl"></span>
      </div>
      <span class="text-xl font-black bg-gradient-to-r textSand">Enterprise</span>
      <span class="text-sm text-muted-color text-center font-extralight">Scalable solutions for clinics and hospitals.</span>
  </div>
</div>
