
 <div class="z-100 absolute top-0 left-0 w-full h-[100vh] flex items-center justify-center bg-white/15 backdrop-blur-xs">
  <div class="hourglassBackground">
        <div class="hourglassContainer">
          <div class="hourglassCurves"></div>
          <div class="hourglassCapTop"></div>
          <div class="hourglassGlassTop"></div>
          <div class="hourglassSand"></div>
          <div class="hourglassSandStream"></div>
          <div class="hourglassCapBottom"></div>
          <div class="hourglassGlass"></div>
        </div>
  </div>
 </div>
