<div class="relative flex w-90 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
  <div class="relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white bg-gray-300 p-2 shadow-lg shadow-blue-gray-500/40">
      <img class="object-fit w-auto h-full mx-auto" src="{{image}}" alt="Logo Arucare">
  </div>
  <div class="p-6">
    <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
      {{title}}
    </h5>
    <p
    class="text-base font-light leading-relaxed transition-all duration-300 ease-in-out"
    [ngClass]="{
      'line-clamp-5': !expanded,
      'line-clamp-none': expanded
    }"
    >
      {{ description }}
    </p>
    <p
      class="text-base font-light leading-relaxed mt-2 transition-opacity duration-300 ease-in-out"
      [ngClass]="{
        'hidden': !expanded,
        'block': expanded
      }"
    >
      {{ details }}
    </p>
  </div>
  <div class="p-6 pt-0">
    <button
      (click)="toggleExpand()"
      data-ripple-light="true"
      type="button"
      class="select-none rounded-lg bg-blue-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
      {{ expanded ? 'Show Less' : 'Read More' }}
    </button>
  </div>
</div>
