<div class="flex flex-col max-w-6xl mx-auto justify-center text-sm pl-3 pr-3" >
  <div class="card p-5">
    <p-stepper [value]="1">
        <p-step-item [value]="1">
            <p-step>Create your profile</p-step>
            <p-step-panel class="bg-transparent">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-fit">
                        <div
                            class="flex-auto flex justify-start text-slate-50 text-xl items-center font-extralight"
                        >
                        Sign up through the Arucare app. Add your basic info.
                        </div>
                    </div>
                    <div class="py-6">
                        <button (click)="activateCallback(2)" class="buttonEasy">
                          <span>Next</span>
                          <span class="pi pi-arrow-right"></span>
                        </button>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        <p-step-item [value]="2">
            <p-step>Virtual Appointment</p-step>
            <p-step-panel class="bg-transparent">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-fit">
                        <div
                            class="flex-auto flex justify-start text-slate-50 text-xl items-center font-extralight"
                        >
                            request a virtual appointment directly in the panel
                        </div>
                    </div>
                    <div class="flex py-6 gap-2">
                        <!-- <p-button label="Back" severity="secondary" (onClick)="activateCallback(1)" /> -->
                        <button (click)="activateCallback(1)" class="buttonEasy">
                          <span class="pi pi-arrow-left"></span>
                          <span>Back</span>
                        </button>

                        <button (click)="activateCallback(3)" class="buttonEasy">
                          <span>Next</span>
                          <span class="pi pi-arrow-right"></span>
                        </button>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        <p-step-item [value]="3">
            <p-step>Have Your Consultation</p-step>
            <p-step-panel class="bg-transparent">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-fit">
                        <div
                            class="flex-auto flex justify-start text-slate-50 text-xl items-center font-extralight"
                        >
                        join a secure video call with your provider — no traffic, no waiting rooms. Ask questions, get diagnosed, and receive your treatment plan in real time.

                        </div>
                    </div>
                    <div class="flex py-6 gap-2">
                        <!-- <p-button label="Back" severity="secondary" (onClick)="activateCallback(2)" /> -->
                        <button (click)="activateCallback(2)" class="buttonEasy">
                          <span class="pi pi-arrow-left"></span>
                          <span>Back</span>
                        </button>

                        <button (click)="activateCallback(4)" class="buttonEasy">
                          <span>Next</span>
                          <span class="pi pi-arrow-right"></span>
                        </button>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>
        <p-step-item [value]="4">
            <p-step>Medical Delivered</p-step>
            <p-step-panel class="bg-transparent">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-fit">
                        <div
                            class="flex-auto flex justify-start text-slate-50 text-xl items-center font-extralight"
                        >
                        If your provider prescribes medication, you can have it delivered directly to your hotel,airbnb or home — fast, safe, and hassle-free

                        </div>
                    </div>
                    <div class="flex py-6 gap-2">
                        <!-- <p-button label="Back" severity="secondary" (onClick)="activateCallback(2)" /> -->
                        <button (click)="activateCallback(3)" class="buttonEasy">
                          <span class="pi pi-arrow-left"></span>
                          <span>Back</span>
                        </button>

                        <button (click)="activateCallback(5)" class="buttonEasy">
                          <span>Next</span>
                          <span class="pi pi-arrow-right"></span>
                        </button>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>
        <p-step-item [value]="5">
            <p-step>Follow Up & Stay Connected</p-step>
            <p-step-panel class="bg-transparent">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-fit">
                        <div
                            class="flex-auto flex justify-start text-slate-50 text-xl items-center font-extralight"
                        >
                        Use the app to manage follow-ups, view prescriptions, chat with your provider, and keep your health on track.

                        </div>
                    </div>
                    <div class="py-6">
                        <!-- <p-button label="Back" severity="secondary" (onClick)="activateCallback(2)" /> -->
                        <button (click)="activateCallback(4)" class="buttonEasy">
                          <span class="pi pi-arrow-left"></span>
                          <span>Back</span>
                        </button>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>
    </p-stepper>
  </div>


  <button class="w-fit ml-auto mr-5 cursor-pointer font-semibold flex gap-3 items-center  bg-gradient-to-r from-slate-50 to-stone-300 p-3 rounded-xl shadow-sm hover:bg-clip-text duration-300 hover:text-transparent" type="button" (click)="toggle()">
      <span class="pi pi-images"></span>
      Tap to view
  </button>
</div>
