<div class="text-lg pt-10 sm:animate-fade-in">
  <!-- <h1 class="text-3xl font-bold">Home</h1> -->
  <!-- <p-divider class="max-w-7xl"/> -->
  <section class="flex gap-5 flex-col sm:flex-row items-center  mx-auto max-w-7xl p-10 pt-5 pb-15 sm:pt-10">
    <h1 class="text-4xl sm:text-6xl font-bold w-full sm:w-1/2 bg-gradient-to-r from-gray-500 to-blue-500 bg-clip-text text-transparent">Looking for a healthcare expert in Aruba?</h1>
    <div class="w-full sm:w-1/2 text-slate-700">
      <h2 class="font-semibold text-2xl sm:text-3xl">Arucare is here to help <span class="bg-gradient-to-r from-gray-500 to-blue-500 bg-clip-text text-transparent text-2xl sm:text-3xl pi pi-thumbs-up-fill"></span></h2>
      <p-divider />
      <p class="font-extralight text-sm sm:text-lg">Instant medical care at your doorstep in minutes. In a few simple steps you can have a Board Certified doctor at your disposal to assist you.</p>
    </div>
  </section>


  <section class="mx-auto max-w-7xl pb-10">
    <app-reviews></app-reviews>
  </section>


  <section class="mx-auto pb-40 backdrop-blur-2xl bg-gradient-to-r from-gray-500 to-blue-500">
    <h2 class="text-center pt-40 pb-20 font-semibold bg-gradient-to-r from-slate-50 to-stone-300 bg-clip-text text-transparent text-4xl sm:text-6xl">Designed to be simple and easy to use</h2>
    <app-reserve></app-reserve>
  </section>

  <section class="mx-auto max-w-6xl pt-20 pb-20">
      <app-medicals></app-medicals>
  </section>

  <section class="mx-auto pt-20 pb-20 p-10 bg-gradient-to-r from-gray-500 to-blue-500">
      <app-team></app-team>
  </section>

</div>
