<div class="text-lg pt-5 sm:animate-fade-in">
  <!-- <h1 class="text-3xl font-bold">Home</h1> -->

  <section class="mx-auto max-w-7xl pb-10">
    <app-reviews></app-reviews>
  </section>


  <section class="mx-auto pb-40 backdrop-blur-2xl bg-gradient-to-br from-blue-500 to-blue-100">
    <h2 class="text-center pt-40 pb-20 font-semibold text-blue-100 text-3xl">Designed to be simple and easy to use</h2>
    <app-reserve></app-reserve>
  </section>

  <section class="mx-auto max-w-6xl pt-20 pb-20">
      <app-medicals></app-medicals>
  </section>

</div>
