

<div class="h-16 flex items-center text-xl  z-50">
  <nav class="w-dvw mx-auto max-w-6xl flex justify-between items-center">
    <div class="logo">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <img class="w-18 object-cover cursor-pointer" src="assets/images/arucare-logo.png" alt="Arucare Logo"  />
      </a>
    </div>

    <div class="options flex gap-8">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        >Home</a>
      <a
        routerLink="/about"
        routerLinkActive="active"
      >About</a>
      <a
        routerLink="/contact"
        routerLinkActive="active"
      >Contact</a>
    </div>

  </nav>
</div>

