

<header class="sticky shadow-lg backdrop-blur-md bg-gradient-to-b from-orange-200/70 to-blue-100/70 top-0 h-16 flex items-center text-sm z-50">
  <nav class="w-dvw mx-auto  flex justify-between items-center  lg:px-24">
    <div class="logo">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <img class="w-18 object-cover cursor-pointer" src="assets/images/arucare-logo.png" alt="Arucare Logo"  />
      </a>
    </div>

    <ul
    [ngClass]="{
      flex: menuOpen || isClosing || screenSize().width > 1024,
      'animate-slide-in': menuOpen && !isClosing && screenSize().width < 1024,
      'animate-slide-out': isClosing && screenSize().width < 1024,
      hidden: !menuOpen && !isClosing,
      'bg-gradient-to-b' : screenSize().width < 1024
    }"
    class="absolute top-0 h-dvh w-full  from-stone-300 to-sky-400 flex-col justify-around text-center text-2xl font-light duration-500 lg:static lg:flex lg:h-auto lg:w-3/4 lg:flex-row lg:justify-end lg:gap-10 lg:bg-transparent lg:text-left lg:text-sm"
    >

    @for (item of links; track $index) {
      <li class="cursor-pointer text-stone" (click)="toggleMenu()">
          <a
          routerLink="{{item.url}}"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          >{{item.name}}</a>
    }
      <li class="lg:hidden text-stone">
        <button class="cursor-pointer" (click)="toggleMenu()">
          <svg
            width="50"
            height="50"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g id="Menu / Close_LG">
                <path
                  id="Vector"
                  d="M21 21L12 12M12 12L3 3M12 12L21.0001 3M12 12L3 21.0001"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
            </g>
          </svg>
        </button>
      </li>
    </ul>

    <button
    id="menu-button"
    (click)="toggleMenu()"
    class="absolute right-2 cursor-pointer lg:hidden text-stone"
  >
    <svg
      width="40px"
      height="40px"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></g>
      <g id="SVGRepo_iconCarrier">
        <path
          d="M4 6H20M4 12H20M4 18H20"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </g>
    </svg>
    </button>
  </nav>
</header>


