

<header class="sticky backdrop-blur-2xl top-0 h-16 flex items-center text-sm  z-50">
  <nav class="w-dvw mx-auto  flex justify-between items-center shadow-sm sm:px-24">
    <div class="logo">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <img class="w-18 object-cover cursor-pointer" src="assets/images/arucare-logo.png" alt="Arucare Logo"  />
      </a>
    </div>

    <ul
    [ngClass]="{
      flex: menuOpen || isClosing || screenSize().width >= 640,
      'animate-slide-in': menuOpen && !isClosing && screenSize().width < 640,
      'animate-slide-out': isClosing && screenSize().width < 640,
      hidden: !menuOpen && !isClosing,
      'bg-gradient-to-b' : screenSize().width <= 640
    }"
    class="absolute top-0 h-dvh w-dvw  from-slate-200 to-blue-400 flex-col justify-around text-center text-2xl font-light duration-500 sm:static sm:flex sm:h-auto sm:w-1/2 sm:flex-row sm:justify-end sm:gap-10 sm:bg-transparent sm:text-left sm:text-sm"
    >
      <li class="cursor-pointer" (click)="toggleMenu()">
        <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        >Home </a>
      </li>
      <li class="cursor-pointer" (click)="toggleMenu()">
        <a
        routerLink="/about"
        routerLinkActive="active"
        >About us</a>
      </li>
      <li class="cursor-pointer" (click)="toggleMenu()">
        <a
        routerLink="/contact"
        routerLinkActive="active"
        >Contact</a>
      </li>
      <li class="sm:hidden">
        <button class="cursor-pointer" (click)="toggleMenu()">
          <svg
            width="50"
            height="50"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g id="Menu / Close_LG">
                <path
                  id="Vector"
                  d="M21 21L12 12M12 12L3 3M12 12L21.0001 3M12 12L3 21.0001"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
            </g>
          </svg>
        </button>
      </li>
    </ul>

    <button
    id="menu-button"
    (click)="toggleMenu()"
    class="absolute right-2 cursor-pointer sm:hidden"
  >
    <svg
      width="40px"
      height="40px"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></g>
      <g id="SVGRepo_iconCarrier">
        <path
          d="M4 6H20M4 12H20M4 18H20"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </g>
    </svg>
    </button>
  </nav>
</header>


