/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";


@theme {
  --animate-slide-in: slice-in .5s ease-in-out;
  --animate-slide-out: slice-out .5s ease-in-out;

  --animate-fade-in: fade-in .5s ease-in-out;
  --animate-fade-out: fade-out .5s ease-in-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes slice-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slice-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
}

.buttonEasy{
  @apply
  font-black
  p-2
  w-fit
  flex
  gap-3
  items-center
  bg-gradient-to-r
  from-slate-50
  to-gray-400
  bg-clip-text
  text-transparent
  duration-300
  cursor-pointer
}


.active{
  @apply text-blue-500
}
