<div class="h-fit text-xl z-50 bgSand">
  <div class="mx-auto max-w-7xl grid grid-cols-1 sm:grid-cols-4">
    <div class="logo flex items-center justify-center">
      <a
        routerLink="/"
        routerLinkActive="active text-slate-200"
        [routerLinkActiveOptions]="{exact: true}">
        <img class="w-50 object-cover cursor-pointer" src="assets/images/arucare-logo-transparent.png" alt="Arucare Logo"  />
      </a>
    </div>
    <div class="text-center sm:text-left">
      <ul class="flex mb-15 flex-col gap-7 h-full justify-start p-4 text-sm text-gray-500 sm:border-l-4 sm:border-sky-200">
        <li *ngFor="let link of footerLinks">
          <a
            [routerLink]="link.url"
            routerLinkActive="active text-slate-200"
            [routerLinkActiveOptions]="{exact: true}"
            class="rounded-lg w-fit hover:bg-blue-200 p-3 hover:text-white transition duration-300 text-center">
            {{ link.name }}
          </a>
        </li>
      </ul>
    </div>

    <div class="social flex sm:flex-col gap-4 justify-center sm:justify-between sm:pl-4 sm:border-l-4 sm:border-blue-200">
      <a href="#" target="_blank" class="w-fit">
        <svg class="w-10 h-10 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
        </svg>
      </a>
      <a href="#" target="_blank" class="w-fit">
        <svg class="w-10 h-10 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/>
        </svg>
      </a>
      <a href="#" target="_blank" class="w-fit">
        <svg class="w-10 h-10 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path d="M13.795 10.533 20.68 2h-3.073l-5.255 6.517L7.69 2H1l7.806 10.91L1.47 22h3.074l5.705-7.07L15.31 22H22l-8.205-11.467Zm-2.38 2.95L9.97 11.464 4.36 3.627h2.31l4.528 6.317 1.443 2.02 6.018 8.409h-2.31l-4.934-6.89Z"/>
        </svg>
      </a>
    </div>

    <div class="mt-10 sm:mt-0 max-sm:bgSand p-5 sm:p-0 items-center justify-center flex flex-col">
        <a target="_blank" href="https://apps.apple.com/co/app/arucare-aruba/id1641800355?l=en-GB" class="mx-auto w-fit cursor-pointer m-1 hover:bg-slate-200  duration-500  p-3 bg-slate-100 rounded-xl flex justify-between  gap-2 items-center">
          <span class="pi pi-apple text-3xl  text-stone"></span>
          <div>
            <span class="font-extralight text-sm block m-0  text-stone">Download on the</span>
            <span class="text-xl font-bold  text-stone">App Store</span>
          </div>
        </a>
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.arucarearuba.app&pcampaignid=web_share" class="mx-auto w-fit cursor-pointer m-1 hover:bg-slate-200 duration-500 p-3 bg-slate-100 rounded-xl flex justify-between gap-2 items-center">
          <span class="pi pi-google text-3xl  text-stone"></span>
          <div>
            <span class="font-extralight text-sm block m-0  text-stone">Download on the</span>
            <span class="text-xl font-bold  text-stone">Play Store</span>
          </div>
        </a>
    </div>


  </div>
  <p class="text-center text-gray-400 text-sm p-4 bgSand">
    © 2025 Arucare. All rights reserved.
  </p>
</div>

